__pycache__/google_calendar.cpython-39.pyc
token.json
credentials.json
deltat.data
deltat.preds
g-calendar-quickstart-a0d223992fec.json
GMT EoT Google Calendar Instructions.gdoc
output.tsv
The Equation of Time in your Phone's Calendar.gdoc
Graphs.xlsx
AH EoT weekly.ics
Leap_Second.dat
